

.updates-container{
    margin-top: 2%;
}

.date-time_container{
    padding-bottom:4%;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    width: '18rem';
    text-align: center;
    margin-top: 2%;
    margin-left: 15%;
}

#date-time_date{
    color: whitesmoke;
    font-size: 20px;
    margin-right: 10px;
}

#date-time_time{
    color: white;
    font-size: 28px;
}

#dateTime_month{
    color: black;
    font-size: 15px;
}

#dateTime_time{
    font-family: courier, monospace;
    font-size: 2em;
    color: white;
    margin-left: 10px;
    text-align: right;
}

.weatherBoxContainer{
    border: 3px solid rgb(184, 163, 69);
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 5%;
    border-radius: 8px;
    background-color: rgb();
    width: 100%;
    margin: auto;
  }

  .weatherBox_description{
      font-style: italic;
  }

  .weather_img{
      width: 50%;
      opacity: 0.7;
  }
  
  .tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .weather_img:hover {
    opacity: 1;
    }

input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover{
    background-color: #45a049;
}

.TodoList_Container:hover{
    overflow-y: auto;
}

.todoList_container_title{
   padding-left: 10%;
}

.todoitem-delete{
    cursor:pointer;
    background-color: lightcoral;
}

.todoitem-done{
    cursor:pointer;
    background-color: rgb(167, 233, 167);
}


.todoItem_text{
    padding-top: 5px;
}

.todoItem_button{
    float:right;
    height: 65%;
}


ul{
    list-style-type:none;
}


.footer{
    max-height: 10%;
    height: 5%
}

.navbarStyle{
    height:1%;
    background-color: #ebf0f363!important;
}






/****/

@media only screen and (max-width: 600px) {

    #dateTime_date{
        color: black;
        font-size: 20px;
    }

    #dateTime_month{
        color: black;
        font-size: 10px;
        
    }

    #date-time_date{
        font-size: 15px;
        margin: 0
    }

    .date-time_container{
        border: 1px solid rgb(43, 40, 40);
        padding-bottom:4%;
        border-radius: 8px;
        background-color: rgb(209, 185, 77);
        width:100%; 
        max-height: 40%;
        height: 100%;
        text-align: center;
        margin-top: 10%;
    }




  }