

/* -------------------------------- */

.home_page{
  background-color: darkgrey;
}

.nav_background_color{
  background-color: darkgrey;
}

.row_color{
  background-color: black;
}

.home_description{
  color: #b5b5b5;
  text-align: center;
}

.home_stats{
  margin-top:5%;
}

.home_stats_container{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5%;
  animation: shine 3s linear infinite;
  padding-bottom: 0;
  padding-top: 2%;
  height: 100%;
}

.home_stats_container h6{
  text-align: center;
}

.home_white{
  color: whitesmoke;
  font-weight: 600;
}


.home_mood{
  font-size: 2em;
  text-align: center;
}

.stack_title{
  text-align: center;
  padding: 10%;
  width: 100%;
  height: 100%;
}

.chart-container{
  background-color: lightgray;
  color: white;
  margin-top: 5%;
  width: 100%;
  height: 400px;
}

.updates-container{
  color: white;
}

.updates-alert{
  margin-top: 10%;
}


.navbar-color{
  background-color: black;
}


/*  */

/* NAVBAR */

.navbar-font {
  font-size: large;
  font-family: "Andale Mono";
}

.navbar-font:hover {
  color: lightblue;
}


@media screen and (max-width: 600px) {
  .home_col{
    margin-top:10%;
  }
}
