
$themes: (
    light: (
        color-background: #EAEAE0,
        font-color:   #41577c,
        font-color-light: #6a7fa5,
        font-color-dark: #253757,
        color1: #5885AF,
        color3: #74c69d,
        color2: #41729F,
        color4: #2E8BC0,
        color5: hsla(210, 78%, 84%, 0.63),
        color6: #95d5b2,
        button-dominate: #2E8BC0,
        warning: #530d0d
    ),
    dark: (
        color-background: #000000,
        font-color:  #c0c2c3,
        font-color-light: #bcd3df,
        font-color-dark: #73848d,
        color1: #343a40,
        color2: #495057,
        color4: #6c757d,
        color5: #adb5bd,
        color3: #ced4da,
        color6: #dee2e6,
        button-dominate: #E9A33A,
    )
);
