@mixin theme($key, $color) {
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            #{$key}: map-get(map-get($themes, $theme-name), $color);
        }
    }
  }

@mixin theme-aware($key, $value, $color) {
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            #{$key}: $value map-get(map-get($themes, $theme-name), $color)
        }
    }
  }


  @mixin theme-colors($color) {
    @each $theme-name, $theme-color in $themes {
        .theme-#{$theme-name} & {
            #{$key}: $value map-get(map-get($themes, $theme-name), $color)
        }
    }
  }
