@import 'color-palette';
@import 'mixin';


$myFont: "Andale Mono";


body{
  $font-family: $myFont;
  @include theme('background', 'color-background');
}

html{
  $font-family: $myFont;
}

// Footer 
.footer-text {
  position:absolute;
  height:60px;   /* Height of the footer */
  font-weight: 600;
  text-align: center;
  width: 100%;
  bottom: 0px;
  @include theme('color', 'font-color');
  @include theme('background', 'color-background');
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%
}


// NavBar 
.navbar-col {
  @include theme('background', 'color-background');
}

.navbar-font {
  font-weight: 600;
  font-family: $myFont;
  @include theme('color', 'font-color');
}

.navbar-toggle {
  cursor: pointer;
  font-size: 25px;
}


// Login 
.login-container{
  margin-top: 35%;
  border: 3px solid;
  padding: 5%;
  border-radius: 25px;
  @include theme-aware('box-shadow', 0px 5px 20px 5px, 'color5');
  @include theme('border-color', 'color5')
}


.login-container h1{
  text-align: center;
  margin-bottom: 30px;
  font-family: $myFont;
  @include theme('color', 'font-color');
}

.login-container Button{
  width: 100%
}


// Home 
.home-title{
  text-align: center;
  margin-top: 5%;
  font-weight: 700;
  @include theme('color', 'font-color');
}

.home-description{
  text-align: center;
  @include theme('color', 'font-color');
}

.home-stats{
  margin-top:5%;
}

.home-stats_container{
  animation: shine 3s linear infinite;
  border-radius: 5px;
  padding: 5%;
  animation: shine 3s linear infinite;
  padding-bottom: 0;
  padding-top: 2%;
  height: 100%;
  font-style: $myFont;

  @include theme('color', 'font-color');
  @include theme-aware('box-shadow', 0px 5px 20px 5px, 'color5');
}

.home-stats_container h6 {
  font-size: 18px;
  font-weight: 600;
  @include theme('color', 'font-color');
}

.home-white{
  @include theme('color', 'font-color');
  font-weight: 600;
}

.home-value, .home-mood{
  font-size: 2em;
  text-align: center;
}

// BLOG 
.blog_page{
  text-align: center;
  padding: 10%;
  width: 100%;
  height: 100%;
  @include theme('color', 'font-color-light')
}

.blog_page h1{
  @include theme('color', 'font-color');
}


// STACK 
.stack-container {
  background-color: red;
  @include theme('background-color', 'color-background');
}



/********* DASHBOARD ***********/

.date-time_card{
  padding-bottom: 4%;
  border-radius: 8px;
  width: 50%;
  text-align: center;
  margin-top: 2%;
  margin-left: 37%;

  @include theme('background-color', 'color-background');
  @include theme-aware('box-shadow', 0px 5px 20px 5px, 'color5');
}


#date-time_date{
  font-size: 20px;
  margin-right: 10px;

  @include theme('color', 'font-color-light');
}

#date-time_time{
  font-size: 28px;

  @include theme('color', 'font-color');
}


.weather-container{
  margin-left: 50px;
  font-family: $myFont;

  @include theme('color', 'font-color');
  @include theme('background-color', 'color-background');
  @include theme-aware('box-shadow', 0px 5px 20px 5px, 'color5');
}

.weather-listbox{
  @include theme('background-color', 'color-background');
}

.weather_img:hover {
  opacity: 1;
}


.addtodo-container{
  border-radius: 10px;
  margin: 5%;
  padding: 2%;
  width: 60%;

  @include theme('background-color', 'color-background');
  @include theme-aware('box-shadow', 0px 5px 20px 5px, 'color5');
}


.todoList-container{
  margin: 5%;
  padding: 2%;
  width: 80%;
  overflow-y: hidden;
  max-height: 450px;
  
}

.todoList-container_today{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 10px;

  @include theme('background-color', 'color1');
}

.todoList_container_overdue{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 10px;

  @include theme('background-color', 'color5');
}

.todoList_container_upcoming{
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding-top: 10px;
  @include theme('background-color', 'color3');

}

//Form 
.form-label {
  font-family: $myFont;
  @include theme('color', 'font-color');
}


.todoitem_container{
  border-radius: 10px;
  margin-top: 5px;
  height: 30px;

  @include theme('background-color', 'color3');
}

.todoitem_container:hover{
  @include theme('background-color', 'color5');
}

.todoItem_text{
  font-family: $myFont;
  @include theme('color', 'font-color-dark');
}


@media screen and (max-width: 600px) {
  .home_col{
    margin-top:10%;
  }
}
